{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * @author    kerosin
 * @copyright Copyright (c) 2021 kerosin
 * @link      https://github.com/kerosin
 * @package   FacebookCatalogProductFeedPro
 * @since     1.0.0
 */
#}

{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle('kerosin\\facebookcatalogproductfeedpro\\assetbundles\\facebookcatalogproductfeedpro\\FacebookCatalogProductFeedProAsset') %}

{% set fieldOptions = settings.getFieldOptions() %}
{% set isCommerceInstalled = craft.app.plugins.isPluginInstalled('commerce') %}
{% set customValueOptions = [
    {label: '', value: ''},
    {label: 'Custom Value...'|t('facebook-catalog-product-feed-pro'), value: constant('OPTION_CUSTOM_VALUE', settings)}
] %}

{% if craft.app.plugins.pluginInfo('facebook-catalog-product-feed-pro').isTrial %}
    <div class="warning-alert warning with-icon">
        {{ 'This is a TRIAL version. The feed is limited to a few items.'|t('facebook-catalog-product-feed-pro') }}
    </div>
{% endif %}

{% if isCommerceInstalled %}
    <h2>{{ 'General'|t('facebook-catalog-product-feed-pro') }}</h2>

    <h3>{{ 'Variants'|t('facebook-catalog-product-feed-pro') }}</h3>

    {{ forms.lightswitchField({
        label: 'Include Variants'|t('facebook-catalog-product-feed-pro'),
        id: 'includeVariants',
        name: 'includeVariants',
        on: settings.includeVariants,
        errors: settings.getErrors('includeVariants'),
        toggle: 'includeVariants-dependent-fields'
    }) }}

    <div id="includeVariants-dependent-fields"{{ not settings.includeVariants ? ' class="hidden"' }}>
        {{ forms.lightswitchField({
            label: 'Use Product Url for Variants'|t('facebook-catalog-product-feed-pro'),
            id: 'useProductUrl',
            name: 'useProductUrl',
            on: settings.useProductUrl,
            errors: settings.getErrors('useProductUrl')
        }) }}

        {{ forms.lightswitchField({
            label: 'Use Product Data for Variants'|t('facebook-catalog-product-feed-pro'),
            id: 'useProductData',
            name: 'useProductData',
            on: settings.useProductData,
            errors: settings.getErrors('useProductData')
        }) }}
    </div>

    <hr>
{% endif %}

<h2>{{ 'Fields Mapping'|t('facebook-catalog-product-feed-pro') }}</h2>

<h3>{{ 'Required Fields'|t('facebook-catalog-product-feed-pro') }}</h3>

{{ forms.selectField({
    label: 'ID'|t('facebook-catalog-product-feed-pro'),
    instructions: 'A unique content ID for the item.'|t('facebook-catalog-product-feed-pro'),
    id: 'idField',
    name: 'idField',
    value: settings.idField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('idField')
}) }}

{{ forms.selectField({
    label: 'Title'|t('facebook-catalog-product-feed-pro'),
    instructions: 'A specific, relevant title for the item.'|t('facebook-catalog-product-feed-pro'),
    id: 'titleField',
    name: 'titleField',
    value: settings.titleField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('titleField')
}) }}

{{ forms.selectField({
    label: 'Description'|t('facebook-catalog-product-feed-pro'),
    instructions: 'A short, relevant description of the item.'|t('facebook-catalog-product-feed-pro'),
    id: 'descriptionField',
    name: 'descriptionField',
    value: settings.descriptionField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('descriptionField')
}) }}

{% set availabilityFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'availabilityField',
                name: 'availabilityField',
                value: settings.availabilityField,
                options: [
                    {label: (isCommerceInstalled ? 'Use Stock Field'|t('facebook-catalog-product-feed-pro') : ''), value: ''},
                    {label: 'Custom Value...'|t('facebook-catalog-product-feed-pro'), value: constant('OPTION_CUSTOM_VALUE', settings)}
                ]|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'availability-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="availability-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.availabilityField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'availabilityCustomValue',
                    class: 'ltr',
                    name: 'availabilityCustomValue',
                    value: settings.availabilityCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Availability'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The current availability of the item.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('availabilityField') ?: settings.getErrors('availabilityCustomValue')
}, availabilityFieldInput) }}

{% set conditionFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'conditionField',
                name: 'conditionField',
                value: settings.conditionField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'condition-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="condition-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.conditionField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'conditionCustomValue',
                    class: 'ltr',
                    name: 'conditionCustomValue',
                    value: settings.conditionCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Condition'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The condition of the item.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('conditionField') ?: settings.getErrors('conditionCustomValue')
}, conditionFieldInput) }}

{{ forms.selectField({
    label: 'Price'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The price of the item.'|t('facebook-catalog-product-feed-pro'),
    id: 'priceField',
    name: 'priceField',
    value: settings.priceField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('priceField')
}) }}

{% set currencyFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'currencyField',
                name: 'currencyField',
                value: settings.currencyField,
                options: [
                    {label: (isCommerceInstalled ? 'Use Base Currency'|t('facebook-catalog-product-feed-pro') : ''), value: ''},
                    {label: 'Custom Value...'|t('facebook-catalog-product-feed-pro'), value: constant('OPTION_CUSTOM_VALUE', settings)}
                ]|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'currency-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="currency-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.currencyField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'currencyCustomValue',
                    class: 'ltr',
                    name: 'currencyCustomValue',
                    value: settings.currencyCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Currency'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('currencyField') ?: settings.getErrors('currencyCustomValue')
}, currencyFieldInput) }}

{{ forms.selectField({
    label: 'Image'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The main image of the item.'|t('facebook-catalog-product-feed-pro'),
    id: 'imageLinkField',
    name: 'imageLinkField',
    value: settings.imageLinkField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('imageLinkField')
}) }}

{% set brandFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'brandField',
                name: 'brandField',
                value: settings.brandField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'brand-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="brand-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.brandField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'brandCustomValue',
                    class: 'ltr',
                    name: 'brandCustomValue',
                    value: settings.brandCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Brand'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The brand name, unique manufacturer part number (MPN) or Global Trade Item Number (GTIN) of the item.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('brandField') ?: settings.getErrors('brandCustomValue')
}, brandFieldInput) }}

<h3>{{ 'Optional Fields'|t('facebook-catalog-product-feed-pro') }}</h3>

{{ forms.selectField({
    label: 'Quantity to Sell on Facebook'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The quantity of this item that you have available to sell on Facebook and Instagram.'|t('facebook-catalog-product-feed-pro'),
    id: 'quantityToSellOnFacebookField',
    name: 'quantityToSellOnFacebookField',
    value: settings.quantityToSellOnFacebookField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('quantityToSellOnFacebookField')
}) }}

{% set fbProductCategoryFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'fbProductCategoryField',
                name: 'fbProductCategoryField',
                value: settings.fbProductCategoryField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'fbProductCategory-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="fbProductCategory-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.fbProductCategoryField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'fbProductCategoryCustomValue',
                    class: 'ltr',
                    name: 'fbProductCategoryCustomValue',
                    value: settings.fbProductCategoryCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Facebook Product Category'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The Facebook product category for the item.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('fbProductCategoryField') ?: settings.getErrors('fbProductCategoryCustomValue')
}, fbProductCategoryFieldInput) }}

{% set googleProductCategoryFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'googleProductCategoryField',
                name: 'googleProductCategoryField',
                value: settings.googleProductCategoryField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'googleProductCategory-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="googleProductCategory-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.googleProductCategoryField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'googleProductCategoryCustomValue',
                    class: 'ltr',
                    name: 'googleProductCategoryCustomValue',
                    value: settings.googleProductCategoryCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Google Product Category'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The Google product category for the item.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('googleProductCategoryField') ?: settings.getErrors('googleProductCategoryCustomValue')
}, googleProductCategoryFieldInput) }}

{{ forms.selectField({
    label: 'Sale Price'|t('facebook-catalog-product-feed-pro'),
    instructions: 'If the item is on sale, enter its discounted price.'|t('facebook-catalog-product-feed-pro'),
    id: 'salePriceField',
    name: 'salePriceField',
    value: settings.salePriceField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('salePriceField')
}) }}

{% set salePriceEffectiveDateFromFieldOptions = [{label: '', value: ''}] %}
{% if isCommerceInstalled %}
    {% set salePriceEffectiveDateFromFieldOptions = salePriceEffectiveDateFromFieldOptions|merge([
        {
            label: 'Use Sale Start Date'|t('facebook-catalog-product-feed-pro'),
            value: constant('OPTION_USE_SALE_START_DATE', settings)
        }
    ]) %}
{% endif %}

{{ forms.selectField({
    label: 'Sale Price Effective Date From'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The date, time and time zone when the sale starts.'|t('facebook-catalog-product-feed-pro'),
    id: 'salePriceEffectiveDateFromField',
    name: 'salePriceEffectiveDateFromField',
    value: settings.salePriceEffectiveDateFromField,
    options: salePriceEffectiveDateFromFieldOptions|merge(fieldOptions),
    errors: settings.getErrors('salePriceEffectiveDateFromField')
}) }}

{% set salePriceEffectiveDateToFieldOptions = [{label: '', value: ''}] %}
{% if isCommerceInstalled %}
    {% set salePriceEffectiveDateToFieldOptions = salePriceEffectiveDateToFieldOptions|merge([
        {
            label: 'Use Sale End Date'|t('facebook-catalog-product-feed-pro'),
            value: constant('OPTION_USE_SALE_END_DATE', settings)
        }
    ]) %}
{% endif %}

{{ forms.selectField({
    label: 'Sale Price Effective Date To'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The date, time and time zone when the sale ends.'|t('facebook-catalog-product-feed-pro'),
    id: 'salePriceEffectiveDateToField',
    name: 'salePriceEffectiveDateToField',
    value: settings.salePriceEffectiveDateToField,
    options: salePriceEffectiveDateToFieldOptions|merge(fieldOptions),
    errors: settings.getErrors('salePriceEffectiveDateToField')
}) }}

{% set itemGroupIdFieldOptions = [{label: '', value: ''}] %}
{% if isCommerceInstalled %}
    {% set itemGroupIdFieldOptions = itemGroupIdFieldOptions|merge([
        {
            label: 'Use Product ID'|t('facebook-catalog-product-feed-pro'),
            value: constant('OPTION_USE_PRODUCT_ID', settings)
        }
    ]) %}
{% endif %}

{{ forms.selectField({
    label: 'Item Group ID'|t('facebook-catalog-product-feed-pro'),
    instructions: 'Allows you to set up variants of the same product, such as different sizes, colors or patterns.'|t('facebook-catalog-product-feed-pro'),
    id: 'itemGroupIdField',
    name: 'itemGroupIdField',
    value: settings.itemGroupIdField,
    options: itemGroupIdFieldOptions|merge(fieldOptions),
    errors: settings.getErrors('itemGroupIdField')
}) }}

{% set statusFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'statusField',
                name: 'statusField',
                value: settings.statusField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'status-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="status-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.statusField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'statusCustomValue',
                    class: 'ltr',
                    name: 'statusCustomValue',
                    value: settings.statusCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Status'|t('facebook-catalog-product-feed-pro'),
    instructions: 'Controls whether the item is active or archived in your catalog.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('statusField') ?: settings.getErrors('statusCustomValue')
}, statusFieldInput) }}

{{ forms.selectField({
    label: 'Additional Image'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The additional images of the item.'|t('facebook-catalog-product-feed-pro'),
    id: 'additionalImageLinkField',
    name: 'additionalImageLinkField',
    value: settings.additionalImageLinkField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('additionalImageLinkField')
}) }}

{% set colorFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'colorField',
                name: 'colorField',
                value: settings.colorField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'color-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="color-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.colorField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'colorCustomValue',
                    class: 'ltr',
                    name: 'colorCustomValue',
                    value: settings.colorCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Color'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The main color of the item.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('colorField') ?: settings.getErrors('colorCustomValue')
}, colorFieldInput) }}

{% set genderFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'genderField',
                name: 'genderField',
                value: settings.genderField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'gender-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="gender-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.genderField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'genderCustomValue',
                    class: 'ltr',
                    name: 'genderCustomValue',
                    value: settings.genderCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Gender'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The gender the item is targeted towards.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('genderField') ?: settings.getErrors('genderCustomValue')
}, genderFieldInput) }}

{% set sizeFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'sizeField',
                name: 'sizeField',
                value: settings.sizeField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'size-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="size-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.sizeField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'sizeCustomValue',
                    class: 'ltr',
                    name: 'sizeCustomValue',
                    value: settings.sizeCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Size'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The size of the item.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('sizeField') ?: settings.getErrors('sizeCustomValue')
}, sizeFieldInput) }}

{% set ageGroupFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'ageGroupField',
                name: 'ageGroupField',
                value: settings.ageGroupField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'ageGroup-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="ageGroup-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.ageGroupField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'ageGroupCustomValue',
                    class: 'ltr',
                    name: 'ageGroupCustomValue',
                    value: settings.ageGroupCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Age Group'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The age group that the item is targeted towards.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('ageGroupField') ?: settings.getErrors('ageGroupCustomValue')
}, ageGroupFieldInput) }}

{% set materialFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'materialField',
                name: 'materialField',
                value: settings.materialField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'material-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="material-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.materialField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'materialCustomValue',
                    class: 'ltr',
                    name: 'materialCustomValue',
                    value: settings.materialCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Material'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The material the item is made from.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('materialField') ?: settings.getErrors('materialCustomValue')
}, materialFieldInput) }}

{% set patternFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'patternField',
                name: 'patternField',
                value: settings.patternField,
                options: customValueOptions|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'pattern-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="pattern-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.patternField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'patternCustomValue',
                    class: 'ltr',
                    name: 'patternCustomValue',
                    value: settings.patternCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Pattern'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The pattern or graphic print on the item.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('patternField') ?: settings.getErrors('patternCustomValue')
}, patternFieldInput) }}

{{ forms.selectField({
    label: 'Shipping Weight'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The shipping weight of the item.'|t('facebook-catalog-product-feed-pro'),
    id: 'shippingWeightField',
    name: 'shippingWeightField',
    value: settings.shippingWeightField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('shippingWeightField')
}) }}

{% set shippingWeightUnitFieldInput %}
    <div class="flex">
        <div>
            {{ forms.select({
                id: 'shippingWeightUnitField',
                name: 'shippingWeightUnitField',
                value: settings.shippingWeightUnitField,
                options: [
                    {label: (isCommerceInstalled ? 'Use Weight Unit'|t('facebook-catalog-product-feed-pro') : ''), value: ''},
                    {label: 'Custom Value...'|t('facebook-catalog-product-feed-pro'), value: constant('OPTION_CUSTOM_VALUE', settings)}
                ]|merge(fieldOptions),
                toggle: true,
                targetPrefix: 'shippingWeightUnit-field'
            }) }}
        </div>
        <div class="flex-grow">
            <div id="shippingWeightUnit-field{{ constant('OPTION_CUSTOM_VALUE', settings) }}"{{ not craft.facebookCatalogProductFeedPro.isCustomValue(settings.shippingWeightUnitField) ? ' class="hidden"' }}>
                {{ forms.text({
                    id: 'shippingWeightUnitCustomValue',
                    class: 'ltr',
                    name: 'shippingWeightUnitCustomValue',
                    value: settings.shippingWeightUnitCustomValue
                }) }}
            </div>
        </div>
    </div>
{% endset %}

{{ forms.field({
    label: 'Shipping Weight Unit'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The shipping weight unit of the item.'|t('facebook-catalog-product-feed-pro'),
    errors: settings.getErrors('shippingWeightUnitField') ?: settings.getErrors('shippingWeightUnitCustomValue')
}, shippingWeightUnitFieldInput) }}

{{ forms.selectField({
    label: 'Custom Label 0'|t('facebook-catalog-product-feed-pro'),
    instructions: 'Any additional information you want to filter items by when you create sets.'|t('facebook-catalog-product-feed-pro'),
    id: 'customLabel0Field',
    name: 'customLabel0Field',
    value: settings.customLabel0Field,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('customLabel0Field')
}) }}

{{ forms.selectField({
    label: 'Custom Label 1'|t('facebook-catalog-product-feed-pro'),
    instructions: 'Any additional information you want to filter items by when you create sets.'|t('facebook-catalog-product-feed-pro'),
    id: 'customLabel1Field',
    name: 'customLabel1Field',
    value: settings.customLabel1Field,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('customLabel1Field')
}) }}

{{ forms.selectField({
    label: 'Custom Label 2'|t('facebook-catalog-product-feed-pro'),
    instructions: 'Any additional information you want to filter items by when you create sets.'|t('facebook-catalog-product-feed-pro'),
    id: 'customLabel2Field',
    name: 'customLabel2Field',
    value: settings.customLabel2Field,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('customLabel2Field')
}) }}

{{ forms.selectField({
    label: 'Custom Label 3'|t('facebook-catalog-product-feed-pro'),
    instructions: 'Any additional information you want to filter items by when you create sets.'|t('facebook-catalog-product-feed-pro'),
    id: 'customLabel3Field',
    name: 'customLabel3Field',
    value: settings.customLabel3Field,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('customLabel3Field')
}) }}

{{ forms.selectField({
    label: 'Custom Label 4'|t('facebook-catalog-product-feed-pro'),
    instructions: 'Any additional information you want to filter items by when you create sets.'|t('facebook-catalog-product-feed-pro'),
    id: 'customLabel4Field',
    name: 'customLabel4Field',
    value: settings.customLabel4Field,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('customLabel4Field')
}) }}

{{ forms.selectField({
    label: 'Product Type'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The category the item belongs to according to your business\'s product categorization system, if you have one.'|t('facebook-catalog-product-feed-pro'),
    id: 'productTypeField',
    name: 'productTypeField',
    value: settings.productTypeField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('productTypeField')
}) }}

{{ forms.selectField({
    label: 'GTIN'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The item\'s Global Trade Item Number (GTINs).'|t('facebook-catalog-product-feed-pro'),
    id: 'gtinField',
    name: 'gtinField',
    value: settings.gtinField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('gtinField')
}) }}

{{ forms.selectField({
    label: 'MPN'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The unique manufacturer ID for item.'|t('facebook-catalog-product-feed-pro'),
    id: 'mpnField',
    name: 'mpnField',
    value: settings.mpnField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('mpnField')
}) }}

{{ forms.selectField({
    label: 'Expiration Date'|t('facebook-catalog-product-feed-pro'),
    instructions: 'The item expiration.'|t('facebook-catalog-product-feed-pro'),
    id: 'expirationDateField',
    name: 'expirationDateField',
    value: settings.expirationDateField,
    options: {'': ''}|merge(fieldOptions),
    errors: settings.getErrors('expirationDateField')
}) }}
